.card {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: red;
  border-radius: 25px;
  box-shadow: 5px 5px 5px orange;
}
.teamLogo {
  width: 100%;
  height: 65%;
  border-radius: 25px;
}
.mainDivTeams {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.SearchBar {
  height: 50px;
  width: 400px;
  border-radius: 25px;
  font-size: large;
}
.inputTopDiv {
  /* align-items: center; */
  margin-top: 20px;
  text-align: center;
}
